@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #0a0a0a;
    --foreground: #ededed;
}



body {
  background: black;
  font-family: Arial, Helvetica, sans-serif;
}


@media only screen and (max-width: 400px) {
    .custom-hero-text {
        font-size: 0.75rem;
    }
    .navbar-text {
        font-size: 1rem;
    }
}
